[submodule "zerox_engine_glad"]
	path = zerox_engine_glad
	url = https://github.com/KarimTakieddine/zerox_engine_glad.git
[submodule "zerox_engine_platform"]
	path = zerox_engine_platform
	url = https://github.com/KarimTakieddine/zerox_engine_platform.git
