[submodule "memory_reader"]
	path = memory_reader
	url = https://github.com/KarimTakieddine/memory_reader.git
[submodule "zerox_engine_glad"]
	path = zerox_engine_glad
	url = https://github.com/KarimTakieddine/zerox_engine_glad.git
